Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn test, eslint packages, yarn lint:styles

feat(leadspace): change row parent divs
  packages/patterns-react/src/patterns/LeadSpace/LeadSpace.js
Due: prettier --write, yarn test, eslint packages

feat(leadspace): move col mixin and row mixin
  packages/styles/scss/patterns/leadspace/_leadspace.scss
Due: none

fix(emojis👀): clean up css; merge and closes #84
  packages/react/src/components/Masthead/README.md
  packages/styles/scss/components/dotcom-shell/_dotcom-shell.scss
Due: prettier --write

chore(docs): fixing 404 links
  .circleci/config.yml
  docs/developing.md
  packages/patterns-react/.storybook/manager-head.html
  packages/patterns-react/docs/environment-variables.md
  packages/patterns-react/docs/feature-flags.md
  packages/patterns-react/manifest.yml
  packages/react/.storybook/manager-head.html
  packages/react/README.md
  packages/react/docs/environment-variables.md
  packages/react/manifest.yml
  packages/services/README.md
  packages/services/manifest.yml
  packages/services/scripts/rollup.config.js
  packages/utilities/README.md
  packages/utilities/manifest.yml
  packages/utilities/scripts/rollup.config.js
Due: prettier --write, yarn test, eslint packages

chore(config): removing unecessary references to bluemix
  .circleci/config.yml
  packages/patterns-react/manifest.yml
  packages/react/manifest.yml
  packages/services/manifest.yml
  packages/utilities/manifest.yml
Due: none

chore(docs): relative to absolute urls for npm
  .github/CONTRIBUTING.md
  docs/developing.md
  packages/patterns-react/README.md
  packages/patterns-react/src/patterns/LeadSpace/README.md
  packages/patterns-react/ssr-tests/loads.js
  packages/react/README.md
  packages/react/src/components/Footer/README.md
  packages/react/src/components/HorizontalRule/README.md
  packages/react/src/components/Masthead/README.md
  packages/react/ssr-tests/loads.js
Due: prettier --write, yarn test, eslint packages

feat(analytics): adding base IBM analytics tag to storybook
  packages/react/.storybook/manager-head.html
Due: none

Update feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --write

feat(leadspace): set max width aspect ratio
  .lintstagedrc
  packages/styles/scss/patterns/leadspace/_leadspace.scss
Due: none

Update question.md
  .github/ISSUE_TEMPLATE/question.md
Due: prettier --write

feat(leadspace): make gradient optional and few icons for buttons
  .lintstagedrc
  packages/patterns-react/src/patterns/LeadSpace/LeadSpace.js
  packages/patterns-react/src/patterns/LeadSpace/__stories__/LeadSpace.stories.js
  packages/react/src/components/__tests__/__snapshots__/storyshots.test.js.snap
  packages/styles/scss/patterns/leadspace/README.md
  packages/styles/scss/patterns/leadspace/_leadspace.scss
Due: prettier --write, yarn test, eslint packages

feat(leadspace): set col width for desc in sm breakpoint
  packages/patterns-react/src/patterns/LeadSpace/__stories__/LeadSpace.stories.js
  packages/styles/scss/patterns/leadspace/_leadspace.scss
Due: prettier --write, yarn test, eslint packages

feat(truste): adding truste element in the footer
  packages/react/src/components/Footer/LegalNav.js
Due: prettier --write, yarn test, eslint packages

chore(truste): updating snapshot file for truste module
  packages/react/src/components/__tests__/__snapshots__/storyshots.test.js.snap
Due: none

feat(masthead): sticky masthead with js
  packages/react/src/components/DotcomShell/DotcomShell.js
  packages/react/src/components/Masthead/Masthead.js
  packages/styles/scss/components/dotcom-shell/_dotcom-shell.scss
  packages/styles/scss/components/masthead/_masthead-l1.scss
  packages/styles/scss/components/masthead/_masthead-search.scss
  packages/styles/scss/components/masthead/_masthead.scss
Due: prettier --write, yarn test, eslint packages

chore(misc): addressing some code review feedback
  .circleci/config.yml
  packages/patterns-react/.storybook/manager-head.html
Due: none

fix(masthead): remove L1 from DotcomStory;L1 is conditional
  packages/react/src/components/DotcomShell/README.md
  packages/react/src/components/Masthead/Masthead.js
  packages/react/src/components/Masthead/__stories__/Masthead.stories.js
Due: prettier --write, yarn test, eslint packages

chore(footer): improved unit tests
  packages/patterns-react/package.json
  packages/react/package.json
  packages/react/src/components/Footer/Footer.js
  packages/react/src/components/Footer/__tests__/Footer.test.js
  packages/react/src/components/Footer/__tests__/FooterNav.test.js
  packages/react/src/components/Footer/__tests__/FooterNavGroup.test.js
  packages/react/src/components/Footer/__tests__/LegalNav.test.js
  packages/react/src/components/Footer/__tests__/data/footer-legal.js
  packages/react/src/components/Footer/__tests__/data/footer-menu.js
  packages/styles/package.json
  yarn.lock
Due: prettier --write, yarn test, eslint packages

chore(footer): cleanup a little
  packages/react/package.json
  packages/react/src/components/Footer/Footer.js
  packages/react/src/components/Footer/__tests__/Footer.test.js
  packages/styles/package.json
  yarn.lock
Due: prettier --write, yarn test, eslint packages

chore(footer): cleaning up a little
  packages/react/src/components/Footer/__data__/footer-legal.json
  packages/react/src/components/Footer/__data__/footer-menu.json
  packages/react/src/components/Footer/__tests__/Footer.test.js
  packages/react/src/components/Footer/__tests__/FooterNav.test.js
  packages/react/src/components/Footer/__tests__/FooterNavGroup.test.js
  packages/react/src/components/Footer/__tests__/LegalNav.test.js
  packages/react/src/components/Footer/__tests__/LocaleButton.test.js
  packages/react/src/components/Footer/__tests__/data/footer-legal.js
  packages/react/src/components/Footer/__tests__/data/footer-menu.js
Due: prettier --write, yarn test, eslint packages

fix(prettier): added .github folder to prettierignore
  .prettierignore
Due: none

fix(masthead): use window-or-global for window event listener
  packages/react/src/components/Masthead/Masthead.js
Due: prettier --write, yarn test, eslint packages

feat(leadspace): adjustments to the gradient opacity
  packages/styles/scss/patterns/leadspace/_leadspace.scss
Due: none

fix(jest): multiple jest fixes for the footer
  packages/react/src/components/Footer/FooterNav.js
  packages/react/src/components/Footer/FooterNavGroup.js
  packages/react/src/components/Footer/LegalNav.js
  packages/react/src/components/Footer/__tests__/Footer.test.js
  packages/react/src/components/Footer/__tests__/LegalNav.test.js
Due: prettier --write, yarn test, eslint packages

fix(jest): silence act errors for now
  .lintstagedrc
  jest.config.js
  tasks/jest/setupafter.js
Due: prettier --write, yarn test, eslint packages

fix(jest): additional console error fixes for jest tests
  .lintstagedrc
  packages/patterns-react/src/patterns/LeadSpace/LeadSpace.js
  packages/react/jest.config.js
  packages/react/src/components/Masthead/MastheadL1.js
  packages/react/src/components/Masthead/MastheadLeftNav.js
  packages/react/src/components/Masthead/MastheadProfile.js
  packages/react/src/components/Masthead/MastheadSearchSuggestion.js
  packages/react/src/components/Masthead/MastheadTopNav.js
  packages/react/src/components/__tests__/__snapshots__/storyshots.test.js.snap
Due: prettier --write, yarn test, eslint packages

fix(jest): updating lint-stage config for jest testing
  .lintstagedrc
Due: none

fix(jest): test commit
  .lintstagedrc
Due: none

fix(jest): added comment regarding the dds-privacy-cp placeholder
  packages/react/src/components/Footer/__tests__/LegalNav.test.js
Due: prettier --write, yarn test, eslint packages

fix(misc): fixes PR review comments
  packages/react/src/components/DotcomShell/DotcomShell.js
  packages/react/src/components/DotcomShell/README.md
  packages/react/src/components/DotcomShell/__stories__/data/content.js
  packages/react/src/components/Icon/IbmLogo.js
  packages/react/src/components/Masthead/Masthead.js
  packages/react/src/components/Masthead/__stories__/Masthead.stories.js
  packages/styles/scss/components/dotcom-shell/_dotcom-shell.scss
  packages/styles/scss/components/masthead/_masthead-search.scss
  packages/styles/scss/components/masthead/_masthead.scss
Due: prettier --write, yarn test, eslint packages

fix(prettier): remove whitespaces
  packages/styles/scss/components/masthead/_masthead-search.scss
Due: none

feat(analytics): move analytics script to preview storybook html
  packages/react/.storybook/manager-head.html
  packages/react/.storybook/preview-head.html
Due: none

feat(analytics): triggers for hover event masthead nav items
  packages/react/src/components/Masthead/MastheadTopNav.js
Due: prettier --write, yarn test, eslint packages

feat(analytics): triggers for hover event masthead nav items
  packages/styles/scss/components/masthead/_masthead.scss
  packages/utilities/src/utilities/analytics/analytics.js
  packages/utilities/src/utilities/analytics/index.js
Due: prettier --write, yarn test, eslint packages

feat(analytics): hover event trigger for logo, search, profile
  packages/react/src/components/Masthead/Masthead.js
  packages/react/src/components/Masthead/MastheadProfile.js
  packages/react/src/components/Masthead/MastheadSearch.js
Due: prettier --write, yarn test, eslint packages

chore(analytics): remove console log
  packages/utilities/src/utilities/analytics/analytics.js
Due: prettier --write, yarn test, eslint packages

Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Due: prettier --write

chore(components): apply query decorator more (#123)
  packages/carbon-web-components/src/components/modal/modal.ts
  packages/carbon-web-components/src/components/structured-list/structured-list-row.ts
  packages/carbon-web-components/src/components/ui-shell/side-nav-link.ts
  packages/carbon-web-components/src/components/ui-shell/side-nav-menu.ts
Due: none

Path conditions:
  prettier --write: ((any of: **/*.js) or (any of: packages/components/**/*.scss)) or (any of: *.md)
  yarn test: any of: **/*.js
  eslint packages: any of: **/*.js
  yarn lint:styles: any of: packages/components/**/*.scss
